body{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #40407a;
  color: antiquewhite;
    width: 100%;
    height: 100%;
    /* para ocultar lo que baja la pagina */
    overflow: hidden; 
    text-align: center;
    margin: 0;
}

.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
        
}


#countdown{
    font-size: 10rem;
}

#btn{
    position: absolute;
    margin-top: 260px;
    position: absolute;
    margin-top: 260px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: #5346e7;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btn:hover {
    background-color: #393f8d;
}
#btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#btnP{
    position: absolute;
    margin-top: 260px;
    margin-left: -270px;
    position: absolute;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: #5346e7;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btnP:hover {
    background-color: #393f8d;
}
#btnP:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#btnR{
    position: absolute;
    position: absolute;
    margin-top: 260px;
    margin-left: 290px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: #5346e7;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btnR:hover {
    background-color: #393f8d;
}
#btnR:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

h1{
    font-size: 100px;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
footer{
    position:absolute;
    margin-top: 650px;
}
img{
    position: absolute;
    margin-top: -20px;
    margin-left: -7px;
}

input{
    height: 50px;
    width: 150px;
    font-size: 35px;
    
}